name: test_project
# triggered on some events
# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows
on:
    push:
        branches:
            - main
# list of actions "https://github.com/marketplace/actions/"
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            # set up actions as per your need "https://github.com/actions/setup-python"
            - name: Get Code
              uses: actions/checkout@v3
            - name: Install python
              uses: actions/setup-python@v4
              with:
                python-version: '3.11'
            - run: python main.py
            





